
<%- include("header") -%>

<h2> This is the about page.</h2>

<p>
  Aspiring entrepreneur with a
passion for innovation and
creativity, I'm Piyus, a tech
enthusiast eager to make a mark
in the digital space. Currently
pursuing a vibrant college
journey, I'm committed to
stepping out of my comfort zone
and embracing new challenges.
With interests ranging from sports
and adventure to anime and web
series, I blend creativity with a
keen sense for technology. I'm
particularly excited about
developing a unique app that
brings manga to life through
audio narration, merging my love
for storytelling and tech. My goal
is to create impactful digital
solutions while maintaining a
balanced, fulfilling life. Driven by a
desire to contribute positively to
society, I also dedicate time to
charity work, supporting
underprivileged communities.
Connect with me to share ideas,
collaborate on exciting projects,
or discuss opportunities in the
tech and entrepreneurial world!
</p>

<%- include("footer") -%>
